* {
  max-width: 1440px;
  margin: 0px;
  font-family: "inter";
}

/*SEÇÃO MENU SUPERIOR*/

#menu-superior {
  background-color: #303030;
  height: 475px;
}

.titulo-menu-superior {
  color: #ffffff;
  font-weight: 600;
  font-size: 60px;
  padding-left: 62px;
  padding-top: 180px;
  padding-bottom: 10px;
}

.texto-menu-superior {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  padding-left: 62px;
}

/*SEÇÃO INFORMACIONAL COM NUMEROS*/

#informacao-numero {
  background-color: #f9f9f9;
  height: 229px;
  padding-left: 77px;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
  align-items: center;
}

.numeros {
  font-weight: 600;
  font-size: 40px;
}

.texto-numeros {
  font-weight: 600;
  font-size: 20px;
}

/*SEÇÃO INFORMACIONAL COM IMAGEM*/

#informacao-imagem {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 77px;
  padding-right: 70px;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
  align-items: center;
}
.imagem {
  padding-left: 40px;
}
.titulo-informacao-imagem {
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 20px;
}
.texto-informacao-imagem {
  font-weight: 300;
  font-size: 24px;
}

/*SEÇÃO FORMULÁRIO*/

#formulario {
  background-color: #303030;
  height: 638px;
  text-align: center;
}
.titulo-formulario {
  padding-top: 100px;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
}

input {
  margin-top: 60px;
  width: 508px;
  height: 72px;
  background-color: #ffffff;
  border-radius: 10px;
}

/*SEÇÃO BOTAO*/

button {
  margin-top: 60px;
  background-color: #c07212;
  width: 286px;
  height: 74px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #894c02;
  color: white;
  transform: translateY(-7px);
  box-shadow: 0px 5px 15px #ffffff;
}
